*.db
*.sqlite3
# Ignore Python bytecode files
__pycache__/
*.py[cod]
# Ignore virtual environment directories
env/
venv/   
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Ignore log files
*.log